<template>
  <v-layout>
    <v-flex xs6 sm5 md4 xl3 mr-2 elevation-2>
      <div class='text-xs-center mx-2'>
        <v-text-field
          append-icon="search"
          label="Search in project name (3 chars min)"
          hint="Please provide a search of 3 chars min"
          v-model="search"
          :rules="[min3chars]"
        />
        <v-pagination
          circle
          v-model='projects.currentPage'
          :length='projects.pages'
        />
      </div>
      <v-data-table
        light
        :items='projects.items'
        :total-items='15'
        :loading='projects.loading'
        hide-actions
        hide-headers
        class='cursor-pointer'
      >
        <template slot='items' slot-scope='props'>
          <tr @click='selectProject(props.item.id)'>
            <td>
              <a :href='props.item.web_url' target='_blank'>
                {{ props.item.id }}
                {{ props.item.path_with_namespace }}
              </a>
            </td>
          </tr>
        </template>
        <v-alert slot="no-results" :value="true" color="error" icon="warning">
          Your search for "{{ search }}" found no results.
        </v-alert>
      </v-data-table>
    </v-flex>
    <v-flex xs6 sm7 md8 xl9 d-flex class="ml-2" elevation-2>
      <project
        :project='projects.selectedProject'
        :export-time-data='exportTimeData'
        :update-issue='updateIssue'
        class=""
      />
    </v-flex>
  </v-layout>
</template>

<script>
import Project from '@/components/Project.vue'
import { GET_PROJECTS_NS, SELECT_PROJECT_NS, UPDATE_ISSUE_NS } from '@/store/projects'
import { exportProjectIssuesWithTimeData } from '@/services/export'

export default {
  name: 'projects',
  data: function () {
    return {
      search: '',
      min3chars: (v) => (v.length >= 3 || v.length === 0) || 'Input too short !'
    }
  },
  computed: {
    projects () {
      return this.$store.state.projects
    }
  },
  methods: {
    exportTimeData (id) {
      exportProjectIssuesWithTimeData(id)
    },
    selectProject (id) {
      this.$store.dispatch(SELECT_PROJECT_NS, id)
    },
    updateIssue (issue) {
      this.$store.dispatch(UPDATE_ISSUE_NS, issue)
    }
  },
  created () {
    this.$store.dispatch(GET_PROJECTS_NS)
  },
  watch: {
    'projects.currentPage': function () {
      this.$store.dispatch(GET_PROJECTS_NS)
    },
    'search': function (newSearch) {
      if (newSearch.length > 2) {
        this.$store.dispatch(GET_PROJECTS_NS, newSearch)
      } else if (newSearch.length === 0) {
        this.$store.dispatch(GET_PROJECTS_NS, newSearch)
      }
    }
  },
  components: {
    Project: Project
  }
}
</script>

<style scoped>
.NavBar {
  background-color: #292961;
  color: white;
}

.cursor-pointer tr {
  cursor: pointer;
}
</style>
