<template>
  <v-layout>
    <v-flex xs12 sm10 md6 mx-auto>
      <h1 class="headline">Timer</h1>
      <v-container>
        <v-layout wrap>
          <v-flex xs12 text-xs-center>
            <p v-if="timerInError" class="error--text">
              {{pomodoro.errorMessage}}
            </p>
            <v-progress-circular
              :size="200"
              :width="5"
              :rotate="-90"
              :value="pomodoro.progress"
              color="primary"
            >
              <span
                :style="{ 'font-size': '2rem', 'text-align': 'center' }"
              >
                {{ pomodoro.remainingTime }}
              </span>
              <v-select
                v-model='period'
                id='period'
                :items="pomodoro.periodsAvailable"
                v-if="timerIsStopped || timerIsFinished || timerInError"
                :style="{ width: '75px' }"
              />

            </v-progress-circular>
          </v-flex>
          <v-flex xs12 text-xs-center>
            <v-btn
              color="primary" flat
              @click='start'
              v-if="! timerIsRunning && ! timerIsFinished"
            >
              <v-icon>play_circle_outline</v-icon>
              Start
            </v-btn>
            <v-btn
              color="primary" flat @click='pause'
              v-if="timerIsRunning"
            >
              <v-icon>pause_circle_outline</v-icon>
              Pause
            </v-btn>
            <v-btn
              v-if="timerIsRunning"
              color="primary" flat @click='stop'
            >
              <v-icon>stop</v-icon> Stop
            </v-btn>
            <v-btn
              v-if="timerIsFinished"
              color="primary" flat @click='save'
            >
              <v-icon>save</v-icon> Save time data and restart
            </v-btn>
          </v-flex>
        </v-layout>
      </v-container>
      <h1 class="headline">Records</h1>
      <v-data-table
        :items="pomodoro.records"
        :headers="headers"
      >
        <template slot="items" slot-scope="props">
          <tr>
            <td>
              <a :href='props.item.issue.web_url' target='_blank'>
                #{{ props.item.issue.iid }} {{ props.item.issue.title }}
              </a>
            </td>
            <td>
              {{ props.item.issue.time_stats.total_time_spent | time }}
            </td>
            <td>{{ props.item.spentTime | time }}</td>
          </tr>
        </template>
      </v-data-table>
    </v-flex>
  </v-layout>
</template>

<script>

import { mapActions } from 'vuex'
import {
  POMODORO_STATUS_RUNNING,
  POMODORO_STATUS_FINISHED,
  POMODORO_PAUSE_NS,
  POMODORO_START_NS,
  POMODORO_STOP_NS,
  POMODORO_SET_PERIOD_NS,
  POMODORO_STATUS_STOPPED,
  POMODORO_STATUS_ERROR
} from '@/store/pomodoro'
import api from '@/services/api'

export default {
  name: 'timer',
  data () {
    return {
      headers: [{
        text: 'Issue',
        align: 'left',
        value: 'issue'
      }, {
        text: 'Time already spent',
        value: 'spentTime',
        align: 'left'
      }, {
        text: 'Time being recorded',
        value: 'spentTime',
        align: 'left'
      }]
    }
  },
  computed: {
    timerIsRunning () {
      return this.$store.state.pomodoro.status === POMODORO_STATUS_RUNNING
    },
    timerIsFinished () {
      return this.$store.state.pomodoro.status === POMODORO_STATUS_FINISHED
    },
    timerIsStopped () {
      return this.$store.state.pomodoro.status === POMODORO_STATUS_STOPPED
    },
    timerInError () {
      return this.$store.state.pomodoro.status === POMODORO_STATUS_ERROR
    },
    pomodoro () {
      return this.$store.state.pomodoro
    },
    period: {
      get () {
        return this.$store.state.pomodoro.period
      },
      set (newVal) {
        this.$store.dispatch(POMODORO_SET_PERIOD_NS, newVal)
      }
    }
  },
  methods: {
    save () {
      this.pomodoro.records.forEach(r => {
        api.addTimeToIssue({ ...r.issue, spent_time: r.spentTime + 's' })
      })
      this.start()
    },
    ...mapActions({
      start: POMODORO_START_NS,
      pause: POMODORO_PAUSE_NS,
      stop: POMODORO_STOP_NS
    })
  }
}
</script>
<style>
.progress-circular__info {
  text-align: center;
}
</style>
