<template>
  <v-toolbar class="NavBar" dense color="secondary">
    <v-toolbar-title >
      <a href="/" class="white--text">GitLab Pomodoro</a>
    </v-toolbar-title>
    <v-spacer/>
    <router-link to="/timer" class="nav-link" :class="{'timer--finished': pomodoroIsFinished}">
      <v-btn flat class="white--text">
        <v-icon>timer</v-icon>&nbsp;
        Timer
        {{pomodoro.remainingTime}}
      </v-btn>
    </router-link>
    <router-link to="/projects" class="nav-link">
      <v-btn flat class="white--text">
        <v-icon>list</v-icon>&nbsp;
        Projects
      </v-btn>
    </router-link>
    <router-link to="/settings" class="nav-link">
      <v-btn flat class="white--text">
        <v-icon>settings</v-icon>&nbsp;
        Settings
      </v-btn>
    </router-link>
  </v-toolbar>
</template>

<script>
import { POMODORO_STATUS_FINISHED } from '@/store/pomodoro'

export default {
  name: 'NavBar',
  computed: {
    pomodoro () {
      return this.$store.state.pomodoro
    },
    pomodoroIsFinished () {
      return this.$store.state.pomodoro.status === POMODORO_STATUS_FINISHED
    }
  }
}
</script>

<style scoped>
a {
  text-decoration: unset;
}

.nav-link {
  box-sizing: border-box;
}
.nav-link:hover {
  border-bottom: 2px solid white;
}
.nav-link.timer--finished {
  background-color: red;
}

.router-link-exact-active {
  background-color: #FF6819;
  border-bottom: unset;
}

</style>
