<template>
  <div v-if='project'>
    <a :href='project.web_url'>
      <h2 class="headline pa-2 mb-0">
        [{{project.id}}] {{project.name_with_namespace}}
      </h2>
    </a>
    <div class="pa-2" v-if="project.description">
      {{project.description}}
    </div>
    <v-container grid-list-md class="pa-2">
      <v-layout row wrap>
        <v-flex xs4>
          <v-select
            :items="issueStatesFilterOptions"
            v-model="issueStateFilterModel"
            label="State of issue"
            bottom
          />
        </v-flex>
        <v-flex xs4>
          <v-select
            :items="milestones"
            item-text="title"
            item-value="id"
            v-model="milestoneFilterModel"
            label="Milestone"
            multiple
            bottom
          />
        </v-flex>
        <v-flex xs4 >
          <v-btn flat color='primary' @click='generateExport()'>
            <span v-if='generatingExport === true'>
              exporting...
              <v-progress-circular
                indeterminate
                color='danger'
              />
            </span>
            <span v-else>
              export time data
              <v-icon>file_download</v-icon>
            </span>
          </v-btn>
        </v-flex>
      </v-layout>
    </v-container>
    <div class='text-xs-center'>
      <v-pagination
        circle
        :length='Math.ceil(issues.length / pagination.rowsPerPage)'
        v-model='pagination.page'
      />
    </div>

    <v-data-table
      :items='issues'
      :loading='project.loadingIssues'
      :pagination.sync='pagination'
      :headers='headers'
    >
      <template slot='items' slot-scope='props'>
        <tr v-if='props.item.editable === true'>
          <td>
            <a :href='props.item.web_url' target='_blank'>
              #{{ props.item.iid }} {{ props.item.title }}
            </a>
          </td>
          <td>
            <v-select
              slot="input"
              single-line
              :items="issueStatesEditOptions"
              v-model="currentItemEdited.state_event"
              hide-details
              class="pa-0"
            />
          </td>
          <td>
            <v-select
              slot="input"
              :items="project.milestones"
              item-text="title"
              item-value="id"
              v-model="currentItemEdited.milestone_id"
              hide-details
              class="pa-0"
            />
          <td>
            <v-text-field
              v-model='currentItemEdited.time_estimate'
              suffix='mn'
              class='input-text pa-0'
              hide-details
            />
          </td>
          <td>
            <v-text-field
              v-model='currentItemEdited.spent_time'
              suffix='mn'
              prefix='add'
              class='input-text pa-0'
              hide-details
            />
          </td>
          <td>
            <v-btn icon class="mx-0" @click="saveItem(props.item)">
              <v-icon color='success'>save</v-icon>
            </v-btn>
            <v-btn icon class="mx-0" @click="cancelItem(props.item)">
              <v-icon color='warning'>cancel</v-icon>
            </v-btn>
          </td>
        </tr>
        <tr v-else>
          <td>
            <a :href='props.item.web_url' target='_blank'>
              #{{ props.item.iid }} {{ props.item.title }}
            </a>
          </td>
          <td>{{ props.item.state }}</td>
          <td>{{ props.item.milestone.title }}</td>
          <td>
            {{ Math.round(props.item.time_stats.time_estimate / 60) }} mn /
            {{ Math.round(props.item.time_stats.time_estimate / 360) / 10 }} h
          </td>
          <td>
            {{ Math.round(props.item.time_stats.total_time_spent / 60) }} mn /
            {{ Math.round(props.item.time_stats.total_time_spent / 3600) }} h
          </td>
          <td>
            <v-btn icon class="mx-0" @click="editItem(props.item)">
              <v-icon color='primary'>edit</v-icon>
            </v-btn>
            <v-btn icon class="mx-0" @click="start(props.item)">
              <v-icon color='primary'>timer</v-icon>
            </v-btn>
          </td>
        </tr>
      </template>
    </v-data-table>
  </div>
  <div v-else class="no-project">
    <h3 class="headline text-xs-center">
      Please select a project first
    </h3>
  </div>

</template>

<script>
/* eslint camelcase: 0 */

import { mapActions } from 'vuex'
import {
  POMODORO_PAUSE_NS,
  POMODORO_START_NS,
  POMODORO_STOP_NS
} from '@/store/pomodoro'

export default {
  name: 'project',
  props: [
    'project',
    'exportTimeData',
    'updateIssue'
  ],
  data: function () {
    return {
      title: 'hello world',
      generatingExport: false,
      pagination: {
        rowsPerPage: 10
      },
      issueStatesFilterOptions: ['opened', 'closed', ''],
      issueStateFilterModel: 'opened',
      issueStatesEditOptions: ['reopen', 'close', ''],
      milestoneFilterModel: '',
      currentItemEdited: null,
      headers: [{
        text: 'issue',
        value: 'id',
        align: 'left',
        sortable: true
      }, {
        text: 'state',
        value: 'state',
        align: 'left',
        sortable: true,
        width: '100px'
      }, {
        text: 'milestone',
        value: 'milestone.title',
        align: 'left',
        sortable: true,
        width: '200px'
      }, {
        text: 'time estimate',
        value: 'time_stats.time_estimate',
        align: 'left',
        sortable: true,
        width: '150px'
      }, {
        text: 'time spent',
        value: 'time_stats.total_time_spent',
        align: 'left',
        sortable: true,
        width: '150px'
      }, {
        text: 'actions',
        value: 'title',
        sortable: false,
        width: '150px'
      }]
    }
  },
  computed: {
    issues: function () {
      return this.project.issues.filter(i => {
        let isOK = true
        if (
          this.issueStateFilterModel &&
          i.state !== this.issueStateFilterModel
        ) {
          isOK = false
        }
        if (
          this.milestoneFilterModel &&
          this.milestoneFilterModel.length > 0 &&
          this.milestoneFilterModel.findIndex(m =>
            (m === null ? i.milestone.id === undefined : m === i.milestone.id)
          ) === -1
        ) {
          isOK = false
        }
        return isOK
      })
    },
    milestones: function () {
      let milestones = [{title: 'No milestone', id: null}]
      if (this.project.milestones) milestones = milestones.concat(this.project.milestones)
      return milestones
    }
  },
  methods: {
    generateExport: function () {
      this.generatingExport = true
      this.exportTimeData(this.project.id)
        .finally(() => {
          this.generatingExport = false
        })
    },
    editItem: function (item) {
      if (this.currentItemEdited) this.cancelItem(this.currentItemEdited.item)
      this.currentItemEdited = {
        project_id: item.project_id,
        iid: item.iid,
        milestone_id: item.milestone.id,
        state_event: (item.state === 'opened' ? 'reopen' : 'close'),
        time_estimate: 0,
        spent_time: 0,
        item: item
      }
      item.editable = true
    },
    cancelItem: function (item) {
      item.editable = false
      this.currentItemEdited = null
    },
    saveItem: function (item) {
      let { spent_time, time_estimate } = this.currentItemEdited
      this.currentItemEdited.spent_time = (spent_time === 0 ? null : spent_time + 'm')
      this.currentItemEdited.time_estimate = (time_estimate === 0 ? null : time_estimate + 'm')
      this.updateIssue(this.currentItemEdited)
      item.editable = false
      this.currentItemEdited = null
    },
    ...mapActions({
      start: POMODORO_START_NS,
      pause: POMODORO_PAUSE_NS,
      stop: POMODORO_STOP_NS
    })
  }
}
</script>

<style scoped>
.no-project {
  margin: auto;
}
.input-text {
  font-size: 14px;
}
</style>
