<template>
  <v-app id="app">
    <nav-bar />
    <main class="fill-height">
      <v-container fill-height fluid>
        <router-view />
      </v-container>
    </main>
  </v-app>
</template>

<script>
import NavBar from '@/components/NavBar'

export default {
  name: 'app',
  components: { NavBar }
}
</script>
